

.rea-header::after,
.rea-main::after,
#wrap > .content::after,
.rea-footer::after {
  clear: both;
  content: " ";
  display: table;
}

:root {
  --color-yellow-100: #ffffdc;
  --color-yellow-200: #ffffaf;
  --color-yellow-300: #fff876;
  --color-yellow-400: #fff000;
  --color-yellow-500: #ffd800;
  --color-yellow-600: #ffbb00;
  --color-yellow-700: #ff9b00;
  --color-yellow-800: #ff7a00;
  --color-yellow-900: #f05000;
  --color-orange-100: #fff4d8;
  --color-orange-200: #fce3b4;
  --color-orange-300: #faca7f;
  --color-orange-400: #f8ab37;
  --color-orange-500: #f39200;
  --color-orange-600: #d77b00;
  --color-orange-700: #c05e00;
  --color-orange-800: #a24800;
  --color-red-100: #fee6e6;
  --color-red-200: #fcc8c3;
  --color-red-300: #fa9090;
  --color-red-400: #f75056;
  --color-red-500: #ec0016;
  --color-red-600: #c50014;
  --color-red-700: #9b000e;
  --color-red-800: #740009;
  --color-burgundy-100: #f4e8ed;
  --color-burgundy-200: #edcbd6;
  --color-burgundy-300: #da9aa8;
  --color-burgundy-400: #c0687b;
  --color-burgundy-500: #a9455d;
  --color-burgundy-600: #8c2e46;
  --color-burgundy-700: #641e32;
  --color-burgundy-800: #4d0820;
  --color-pink-100: #fdeef8;
  --color-pink-200: #f9d2e5;
  --color-pink-300: #f4aece;
  --color-pink-400: #ee7bae;
  --color-pink-500: #e93e8f;
  --color-pink-600: #db0078;
  --color-pink-700: #b80065;
  --color-pink-800: #970052;
  --color-violett-100: #f4eefa;
  --color-violett-200: #e0cde4;
  --color-violett-300: #c2a1c7;
  --color-violett-400: #9a6ca6;
  --color-violett-500: #814997;
  --color-violett-600: #6e368c;
  --color-violett-700: #581d70;
  --color-violett-800: #421857;
  --color-blue-100: #e0effb;
  --color-blue-200: #b4d5f6;
  --color-blue-300: #73aef4;
  --color-blue-400: #347de0;
  --color-blue-500: #1455c0;
  --color-blue-600: #0c3992;
  --color-blue-700: #0a1e6e;
  --color-blue-800: #061350;
  --color-cyan-100: #e5faff;
  --color-cyan-200: #bbe6f8;
  --color-cyan-300: #84cfef;
  --color-cyan-400: #55b9e6;
  --color-cyan-500: #309fd1;
  --color-cyan-600: #0087b9;
  --color-cyan-700: #006a96;
  --color-cyan-800: #004b6d;
  --color-turquoise-100: #e3f5f4;
  --color-turquoise-200: #bee2e5;
  --color-turquoise-300: #83caca;
  --color-turquoise-400: #3cb5ae;
  --color-turquoise-500: #00a099;
  --color-turquoise-600: #008984;
  --color-turquoise-700: #006e6b;
  --color-turquoise-800: #005752;
  --color-green-100: #e2f3e5;
  --color-green-200: #bddbb9;
  --color-green-300: #8cbc80;
  --color-green-400: #66a558;
  --color-green-500: #408335;
  --color-green-600: #2a7230;
  --color-green-700: #165c27;
  --color-green-800: #154a26;
  --color-light-green-100: #ebf7dd;
  --color-light-green-200: #c9eb9e;
  --color-light-green-300: #9fd45f;
  --color-light-green-400: #78be14;
  --color-light-green-500: #63a615;
  --color-light-green-600: #508b1b;
  --color-light-green-700: #44741a;
  --color-light-green-800: #375f15;
  --color-warm-gray-100: #f5f4f1;
  --color-warm-gray-200: #ddded6;
  --color-warm-gray-300: #bcbbb2;
  --color-warm-gray-400: #9c9a8e;
  --color-warm-gray-500: #858379;
  --color-warm-gray-600: #747067;
  --color-warm-gray-700: #4f4b41;
  --color-warm-gray-800: #38342f;
  --color-cool-gray-100: #f0f3f5;
  --color-cool-gray-133: #eaeef1;
  --color-cool-gray-166: #e1e6eb;
  --color-cool-gray-200: #d7dce1;
  --color-cool-gray-250: #c8cdd2;
  --color-cool-gray-300: #afb4bb;
  --color-cool-gray-350: #9ba0aa;
  --color-cool-gray-400: #878c96;
  --color-cool-gray-450: #787d87;
  --color-cool-gray-500: #646973;
  --color-cool-gray-550: #50555f;
  --color-cool-gray-600: #3c414b;
  --color-cool-gray-700: #282d37;
  --color-cool-gray-800: #131821;
  --color-red: #ec0016;
  --color-white: #ffffff;
  --color-feedback-success: #508b1b;
  --color-feedback-error: #ec0016;
  --color-poi-food-drink: #f39200;
  --color-poi-health: #a9455d;
  --color-poi-things-to-know: #858379;
  --color-poi-community-facilities: #00a099;
  --color-poi-db-services-facilities: #0c3992;
  --color-poi-shopping: #814997;
  --color-poi-arts-culture: #e93e8f;
  --color-poi-leisure: #408335;
  --color-poi-services: #309fd1;
  --color-poi-guidance: #3c414b;
  --color-transport-ice: #282d37;
  --color-transport-ic: #646973;
  --color-transport-ec: #646973;
  --color-transport-re: #878c96;
  --color-transport-rb: #afb4bb;
  --color-transport-s-bahn: #2a7230;
  --color-transport-u-bahn: #1455c0;
  --color-transport-tram: #a9455d;
  --color-transport-intercity-bus: #e93e8f;
  --color-transport-bus: #814997;
  --color-transport-ship: #309fd1;
  --color-transport-plane: #00a099;
  --color-transport-taxi: #ffd800;
  --color-transport-carsharing: #f39200;
  --color-transport-bikesharing: #63a615;
  --color-transport-walking: #d7dce1;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  color: inherit;
  /* 2 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 3 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
table {
  border-color: inherit;
  /* 1 */
  text-indent: 0;
  /* 2 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

nav ol,
nav ul,
[role=navigation] ol,
[role=navigation] ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fdfdfd;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: "DB Screen Sans", "Helvetica", "Arial", sans-serif;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  color: #131821;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #131821;
  cursor: pointer;
}
a strong {
  color: currentColor;
}
a:hover {
  color: #ec0016;
}

code {
  background-color: whitesmoke;
  color: #e20015;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}

hr {
  background-color: whitesmoke;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}

img {
  height: auto;
  max-width: 100%;
}

input[type=checkbox],
input[type=radio] {
  vertical-align: baseline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: inherit;
  font-weight: 700;
}

fieldset {
  border: none;
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #131821;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
}
pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0;
}

table td,
table th {
  text-align: left;
  vertical-align: top;
}
table th {
  color: #363636;
}

@font-face {
  font-family: "DB Screen Head";
  src: local("DB Screen Head Light"), url("../fonts/dbscreenhead-light.woff2?4r0073") format("woff2"), url("../fonts/dbscreenhead-light.woff?4r0073") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DB Screen Sans";
  src: local("DB Screen Sans Regular"), url("../fonts/dbscreensans-regular.woff2?4r0073") format("woff2"), url("../fonts/dbscreensans-regular.woff?4r0073") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DB Screen Sans";
  src: local("DB Screen Sans Bold"), url("../fonts/dbscreensans-bold.woff2?4r0073") format("woff2"), url("../fonts/dbscreensans-bold.woff?4r0073") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DB Sans";
  font-weight: 400;
  font-style: normal;
  font-weight: 300;
  src: local("DB Screen Head Light"), url("../fonts/dbscreenhead-light.woff2?4r0073") format("woff2"), url("../fonts/dbscreenhead-light.woff?4r0073") format("woff");
}
@font-face {
  font-family: "DB Screen Sans";
  font-style: normal;
  font-weight: 400;
  src: local("DB Screen Sans Regular"), url("../fonts/dbscreensans-regular.woff2?4r0073") format("woff2"), url("../fonts/dbscreensans-regular.woff?4r0073") format("woff");
}
@font-face {
  font-family: "DB Screen Sans";
  font-style: normal;
  font-weight: 700;
  src: local("DB Screen Sans Bold"), url("../fonts/dbscreensans-bold.woff2?4r0073") format("woff2"), url("../fonts/dbscreensans-bold.woff?4r0073") format("woff");
}
:root {
  --font-family-sans-serif: DB Screen Sans, Helvetica, Arial, sans-serif;
}

.rea-main .elm-headline, #wrap > .content .elm-headline, #wrap > .content h1, #wrap > .content h2, #wrap > .content h3, #wrap > .content h4, #wrap > .content h5, #wrap > .content h6 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
.rea-main h1.elm-headline, #wrap > .content h1,
.rea-main h2.elm-headline,
#wrap > .content h2,
.rea-main h4.elm-headline,
#wrap > .content h4 {
  font-weight: 700;
}
.rea-main h3.elm-headline, #wrap > .content h3 {
  font-weight: 400;
}
.rea-main h1.elm-headline, #wrap > .content h1 {
  font-size: 2rem;
}
.rea-main h2.elm-headline, #wrap > .content h2 {
  font-size: 1.375rem;
}
.rea-main h3.elm-headline, #wrap > .content h3 {
  font-size: 1.375rem;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.rea-header {
  background-color: #fdfdfd;
}

.rea-main, #wrap > .content {
  background-color: transparent;
}

.rea-footer {
  background-color: #fdfdfd;
}

body.has-fixed-header .rea-header,
body.has-fixed-footer .rea-footer {
  position: fixed;
  width: 100%;
  z-index: 10;
}

body.has-fixed-header {
  padding-top: 5.9375rem;
}
body.has-fixed-header .rea-header {
  top: 0;
}
@media screen and (max-width: 1023px) {
  body.has-fixed-header {
    padding-top: 5rem;
  }
}

body.has-fixed-footer {
  padding-bottom: 5.5rem;
}
body.has-fixed-footer .rea-footer {
  bottom: 0;
}
@media screen and (max-width: 1023px) {
  body.has-fixed-footer {
    padding-bottom: 5.875rem;
  }
}

/*
	The main purpose of the styles included with this file are related to "regular" content pages.
	In case that you're building a web application you might want to have more freedom
	and probably would want to not include it's contents into your SCSS build / references.
*/
.rea-main, #wrap > .content {
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 1088px) {
  .rea-main, #wrap > .content {
    max-width: 960px;
    width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  .rea-main, #wrap > .content {
    max-width: 1152px;
    width: 1152px;
  }
}
@media screen and (min-width: 1472px) {
  .rea-main, #wrap > .content {
    max-width: 1344px;
    width: 1344px;
  }
}

.rea-main, #wrap > .content {
  padding: 1rem;
}

body {
  display: block;
}

#navbarSupportedContent .form-control {
  font-size: 0.8125rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#wrap > .content {
  padding-top: 70px;
}
/*
.paragraph.feedback {
	a {
		@include icon(map-get($icon-glyphs, arrow-m-right-outline));

		&::before {
			font-size: 0.75rem;

			margin-top: -0.125rem;

			display: inline-block;

			color: $DBred;

			vertical-align: middle;

			font-weight: 700;
		}
	}
}
*/

/*
  TODO: fix this, make it better!
  https://www.npmjs.com/package/@db-ui/core?activeTab=code
  /@db-ui/core/dist/css/01-elements/buttons/enterprise/button.css
*/
.elm-button{align-items:center;border:1px solid rgba(0,0,0,0);border-radius:4px;display:inline-flex;font-size:1rem;justify-content:center;min-height:2.75rem;padding:0.5rem 1rem}.elm-button[data-icon],.elm-button[data-icon-before]{padding-left:0.875rem}.elm-button[data-icon-after]{padding-right:0.875rem}.elm-button.is-icon-text-replace{width:2.75rem}.elm-button[data-variant=brand-primary],.elm-button[data-variant=primary]{color:#fff}.elm-button[data-variant=brand-primary],.elm-button[data-variant=primary]{font-weight:700}.elm-button[data-variant=brand-primary]{background-color:#ec0016}.elm-button[data-variant=brand-primary]:disabled{background-color:#ec001640}.elm-button[data-variant=brand-primary]:not(:disabled):hover{background-color:#db0016}.elm-button[data-variant=brand-primary]:not(:disabled):active{background-color:#cc0013}.elm-button[data-variant=primary]{background-color:#282d37}.elm-button[data-variant=primary]:disabled{background-color:#282d3740}.elm-button[data-variant=primary]:not(:disabled):hover{background-color:#2f3541}.elm-button[data-variant=primary]:not(:disabled):active{background-color:#363c4a}.elm-button[data-variant=secondary-outline]{backdrop-filter:blur(4px);background-color:rgba(0,0,0,0);border-color:#282d37;color:#282d37}.elm-button[data-variant=secondary-outline]:disabled{color:#282d3780;border-color:#282d3740}.elm-button[data-variant=secondary-outline]:not(:disabled):hover{background-color:rgba(40,45,55,.03)}.elm-button[data-variant=secondary-outline]:not(:disabled):active{background-color:rgba(40,45,55,.06)}.elm-button[data-variant=secondary-solid]{background-color:#d7dce1;color:#282d37}.elm-button[data-variant=secondary-solid]:disabled{color:#282d3780;background-color:#d7dce140}.elm-button[data-variant=secondary-solid]:not(:disabled):hover{background-color:#cdd4da}.elm-button[data-variant=secondary-solid]:not(:disabled):active{background-color:#c5ccd3}.elm-button[data-variant=tertiary-plain]{background-color:rgba(0,0,0,0);border:2px solid rgba(0,0,0,0);color:#282d37}.elm-button[data-variant=tertiary-plain]:disabled{color:#282d3780}.elm-button[data-variant=tertiary-plain]:not(:disabled):hover{background-color:rgba(40,45,55,.03)}.elm-button[data-variant=tertiary-plain]:not(:disabled):active{background-color:rgba(40,45,55,.06)}.elm-button[data-size=small]{min-height:2.25rem}.elm-button[data-size=small]:not(.is-icon-text-replace){font-size:0.875rem}.elm-button[data-icon][data-size=small]::before,.elm-button[data-icon-before][data-size=small]::before{--icon-font-family: "icons-20-outline", "missing-icons" !important;--icon-font-size: 1.25rem}.elm-button[data-icon-after][data-size=small]::after{--icon-font-family: "icons-20-outline", "missing-icons" !important;--icon-font-size: 1.25rem}.elm-button.is-icon-text-replace[data-size=small]{width:2.25rem}.elm-button[data-size=large]{min-height:3.25rem}.elm-button[data-size=large]:not(.is-icon-text-replace){font-size:1.25rem}.elm-button.is-icon-text-replace[data-size=large]{width:3.25rem}.elm-button:disabled{color:#ffffff80}/*# sourceMappingURL=button.css.map */
