name: GitHub Pages

on:
  push:
    branches:
      - main  # Set a branch name to trigger deployment
      - fix-github-ci
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    env:
      DTC_HEADLESS: true
    steps:
      - uses: actions/checkout@v3
      - name: setup
        run: chmod +x dtcw
      - name: generateSite
        run: ./dtcw generateSite
      - name: copyToPublic
        run: cp -r ./build/microsite/output ./public
      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e  # v4.0.0
        #        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
